<%= form_with(model: taf, local: true) do |form| %>
  <% if taf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taf.errors.count, "error") %> prohibited this taf from being saved:</h2>

      <ul>
      <% taf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
