<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>
<h2>Your Pragmatic Cart</h2>
<ul>
    <% @cart.line_items.each do |item| %>
        <li><%= item.item.id %></li>
        <li style="display:none"><%=@cart.quantity+=1%></li>
    <% end %>
    <%=@cart.quantity%>
</ul>
